* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #1a1a1a;
  color: #eee;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background: #2a2a2a;
  padding: 1rem 0;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo-icon img{
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  color: #c3a0ed;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  color: #eee;
  text-decoration: none;
}

.nav-links a:hover {
  color: #c3a0ed;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
}

.profile-header {
  text-align: center;
  padding: 3rem 2rem;
  background: #c3a0ed;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.profile-avatar img{
  width: 300px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-header h1 {
  color: white;
  margin-bottom: 0.5rem;
}

.profile-header p {
  color: #010101;
}

.card {
  background: #2a2a2a;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem 0;
}

.card h2 {
  color: #f7a6eb;
  margin-bottom: 1rem;
}

.card p {
  font-size: large;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}

.skill-tag {
  background: #c3a0ed;
  color: rgb(44, 44, 44);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background: #2a2a2a;
  margin-top: auto;
  color: #888;
}

.fade-in {
  opacity: 0;
}
